<!-- Empty Shopping Cart -->
<div class="shop-badge badge-icons pull-right">
    <a href="#"><i class="fa fa-shopping-cart"></i></a>
    <span class="badge badge-sea rounded-x">0</span>
    <div class="badge-open">
        <ul class="list-unstyled" data-mcs-theme="minimal-dark">
            <li>
                <div class="overflow-h">
                    <span>Your cart is empty !</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- End Empty Shopping Cart -->