<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RGCSConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="connDietDB" connectionString="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <!--<add name="RGCSConnectionString" connectionString="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="connDietDB" connectionString="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <authentication mode="Windows"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpRuntime enableVersionHeader="false" executionTimeout="100000" maxRequestLength="99999999"/>
    <compilation targetFramework="4.0" debug="true"/>
    <pages enableViewStateMac="true" enableEventValidation="false" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" defaultRedirect="~/Admin/DevelopmentHelp_error.aspx">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="../Master/Filenotfound.html"/>
    </customErrors>
    <machineKey validation="AES"/>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />-->
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
  </system.web>
  <location path="Diet" allowOverride="true">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
    <add key="conn" value="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True;"/>
    <add key="ConnectionStringV" value="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True"/>
    <add key="ConnectionStringPORTAL" value="Data Source=148.72.232.168;Initial Catalog=CatalystPOC;User ID=prashant;Password=root123@+;Persist Security Info=True"/>
    <!--<add key="conn" value="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True;"/>
    <add key="ConnectionStringV" value="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True"/>
    <add key="ConnectionStringPORTAL" value="Data Source=localhost;Initial Catalog=Diet-Subhash;Persist Security Info=True"/>-->
    <add key="filepath" value="c:\ABC\"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-Aspnet-Version"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition" switchValue="All">
        <listeners>
          <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="composition.log"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="CalService">
        <endpoint address="" behaviorConfiguration="CalServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="CalService"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CalServiceAspNetAjaxBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>